
.master{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:95%;
    width: 100%;
    padding:35px;
    border-radius: 100px;

    /* background-image: url("./barrels2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.container-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    min-height: 700px;
    height:100%;
    width: 50%;
    padding:35px;
    border-radius: 100px;
    background: rgba(50, 51, 48, 0.5);
}

.container-header{
    display:flex;
    flex-direction: column;
    align-content:center ;
    justify-content: space-around;
    align-self: center;
    width:80%;
    height: 38%;
    min-height: 200px;
    border-radius: 80px;
    background-color: floralwhite;
    border: 5px solid black;
    box-sizing:border-box;
    padding: 5%;
    box-shadow: 5px 4px 20px red;
    
}

.container-display{
    display:flex;
    flex-direction: column;
    align-self: center;
    overflow-y: auto;
    margin-top: 10%;
    height: 80%;
    width: 80%;
    
}



button{
    border-radius: 20px;
    padding:35px;
}

label span{
    color: brown;
    font-size: 15px;
}

.banner{
    align-self: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 5px 4px 8px maroon ;
    padding:3px
}
.greeting{
    font-size: 20px;
}

.submit_action{
    padding: 40px;
}



#mapid { height: 180px; }

.brewery-card{
    display:flex;
    flex-direction: row;
    background-color: rgb(240, 238, 238);
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 5px 4px 10px rgb(87, 255, 238)  ;
    text-shadow: -9px 5px 14px maroon ;
    width:80%;
    margin-left: 10%;
}

.brewery-card-left{
    display:flex;
    flex-direction: column;
    margin: auto;
    padding: 7px;
    font-size: 14pt;
    width: 80%;
}
.brewery-card-right{
    display:flex;
    margin: auto;
    padding: 7px;
    width: 15%;
}

.brewery-card:nth-child(2n){
    background-color: rgb(240, 238, 238);
}

.brewery-header{
    font-size: 20pt;
    padding: 5px;
    color: darkred;
}
/* .details{
    width: 80%;
}
.details-right{
    align-self: flex-end;

} */
img {
    max-width: 50%;
    max-height: 50%;
}


.submit_search_form{
    align-self: center;
}
.submit_action{
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
}
.field{
}





footer{
    display:flex;
    flex-direction: column;
    padding: 10px;
}
.list-inline-container{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    height:30px
}


.list-inline-item{
    padding: 30px;
    align-self:center;
}